
$extra-small: 575px
$small: 767px
$medium: 991px
$large: 1199px

h3
  color: #C93D2A
  font-family: Arial, Helvetica, sans-serif
  font-size: 42px
  font-style: normal
  font-weight: 600
  line-height: 100%

.landing
  height: 100vh
  width: 100vw
  display: flex
  flex-direction: row

.left-landing
  height: 100vh
  width: 50%
  display: flex
  justify-content: center
  align-items: center
  background-color: #B22B18
  @media screen and (max-width: $large)
    width: 100vw
  img
    width: 100%
    height: auto
    max-width: 800px
    transition: 0.3s ease-out

.right-landing
  height: 100%
  width: 50%
  background-image: url(https://images.unsplash.com/photo-1558138838-76294be30005)
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  @media screen and (max-width: $large)
    transition: 0.3s ease-out
    display: none
  img
    height: 100%
    width: auto


